@import './mixin'

html
  margin 50px 0 0
  
.stack > *:not(.active)
  display none
  
.home
  text-align center
  width 550px
  margin 100px auto
  
  h1 
    font-size 4em
    
  .welcome-blurb
    font-size 1.8em
    line-height 1.45em
    margin 1em 0

.ratings
  margin 50px 0 100px
  table
    width auto
  thead th
    height 150px
    width 30px
    position relative
    
    span
      display block
      position absolute
      top 50px
      left -35px
      -webkit-transform rotate(90deg)
      -moz-transform rotate(90deg)
      -ms-transform rotate(90deg)
      -o-transform rotate(90deg)
      transform rotate(90deg)
      zoom 1
    
      input
        width 100px
        
  select
    width 50px
  
  tbody th
    white-space nowrap
    
  th:last-child, td:last-child, tbody tr:last-child
    border 0
    
    select, input
      display none
      
    input[type=text]
      display inline
      opacity .5
    